.property {
    &-item {
        height: calc((100vh - 250px)/3);
        overflow: auto;
    }
    .txt {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}