<div class="container">
    <div class="item" *ngFor="let p of projects ">
        <a [routerLink]="['/project', p._id]">
            <nz-card nzHoverable [nzCover]="coverTemplate" [nzExtra]="extraTemplate">
                <nz-card-meta [nzTitle]="p.name" [nzDescription]="p.description"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
                <img  alt="example" [src]="p.img" />
            </ng-template>
            <ng-template #extraTemplate>
                <a (click)="createConfirmModal(p._id,$event)">Delete</a>
            </ng-template>
        </a>
    </div>
    <div class="item" (click)="createTplModal(tplTitle, tplContent, tplFooter)">
        <div class="plus">
            <i nz-icon nzType="plus" nzTheme="outline"></i>
        </div>
    </div>
</div>

<ng-template #tplTitle>
    <span>Create a new project</span>
</ng-template>
<ng-template #tplContent let-params>
    Name: <input nz-input placeholder="project name" [(ngModel)]="projectName" />
</ng-template>
<ng-template #tplFooter let-ref="modalRef">
    <button nz-button (click)="tplModal.destroy()">Cancle</button>
    <button nz-button nzType="primary" (click)="destroyTplModal()" [nzLoading]="tplModalButtonLoading">Ok</button>
</ng-template>