.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    padding: 0 20px;
    height: calc(100vh - 134px);
    overflow-y: auto;
    .item {
        padding: 5px;
        overflow: hidden;
    }
    .plus {
        display: table;
        float: left;
        width: 100%;
        height: 100%;
        background-color: #fafafa;
        border: 1px dashed #d9d9d9;
        border-radius: 2px;
        cursor: pointer;
        font-size: 50px;
        transition: border-color .3s ease;
        text-align: center;
        vertical-align: middle;
        &::before {
            display: inline-block;
            content: "";
            height: 100%;
            vertical-align: middle;
        }
        &:hover {
            border-color: #50BED7;
            color: #50bed7;
        }
    }
}

.card {
    cursor: pointer;
    transition-property: box-shadow, border-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    background-color: #ffffff;
    &-title {
        background: #ffffff;
        line-height: 40px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    &:hover {
        box-shadow: 0 0 10px rgba($color: #333333, $alpha: 0.5);
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    height: 100%;
    overflow: hidden;
}