<div class="teaching">
    <div class="control">
        <div class="control-item"></div>
        <div class="control-item">
            <div class="control-item-button"></div>
        </div>
        <div class="control-item"></div>
        <div class="control-item">
            <div class="control-item-button"></div>
        </div>
        <div class="control-item"></div>
        <div class="control-item">
            <div class="control-item-button"></div>
        </div>
        <div class="control-item"></div>
        <div class="control-item">
            <div class="control-item-button"></div>
        </div>
        <div class="control-item"></div>
    </div>
</div>