.teaching {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
  display: grid;
  width: 242px;
  height:166px;
  grid-template-columns: 60px 46px 60px 30px 46px;
  grid-template-rows: 60px 46px 60px;
  &-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-button{
      width:36px;
      height:60px;
      background:#CCCCCC;
      &:before{
        content:"";
        position: absolute;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top:20px solid #CCCCCC;
        bottom:-20px;
      }
    }
  }
  &-item:nth-child(2){

  }
  &-item:nth-child(6){
    .control-item-button{
      transform:rotate(-90deg)
    }
  }
  &-item:nth-child(8){
    .control-item-button{
      transform:rotate(90deg)
    }
  }
  &-item:nth-child(12){
    .control-item-button{
      transform:rotate(180deg)
    }

  }
  &-item:nth-child(15){
    .control-item-button{
      transform:rotate(180deg)
    }

  }
}

   
