<div class="property">
    <nz-divider nzPlain nzText="Scene" nzOrientation="left"></nz-divider>
    <nz-divider nzPlain nzText="Joint" nzOrientation="left"></nz-divider>
    <div class="property-item" *ngIf="curObj">
    
        <nz-row *ngFor="let j of curObj.userData.joints">
            <nz-col nzSpan="4">
                {{j.name}}
            </nz-col>
            <nz-col nzSpan="10">
                <nz-slider [nzMin]="j.limit.lower" [nzMax]="j.limit.upper" [ngModel]="j.jointValue | number:'1.3'"
                    [nzStep]="0.1" (ngModelChange)="changeJoint($event,j)"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="2">
                <nz-input-number [nzMin]="j.limit.lower" [nzMax]="j.limit.upper" [ngStyle]="{ marginLeft: '16px' }"
                    [ngModel]="j.jointValue | number:'1.3'" [nzStep]="0.1" (ngModelChange)="changeJoint($event,j)">
                </nz-input-number>
            </div>
            <br><br>
        </nz-row>
    </div>
    
    <nz-divider nzPlain nzText="Pose" nzOrientation="left"></nz-divider>
    <div class="property-item" *ngIf="curObj">
        <nz-row *ngFor="let p of pose">
            <nz-col nzSpan="4">
                {{p.key}}
            </nz-col>
            <div nz-col nzSpan="8">
                <nz-input-number 
                [ngStyle]="{width: '80%'}" 
                [ngModel]=" p.value | number: '1.3' " 
                [nzStep]="10"
                [nzMin]="p.lower" 
                [nzMax]="p.upper"
                (ngModelChange)="changePose($event,p)"
                >
                </nz-input-number>
            </div>
            <nz-col nzSpan="4">
                {{p.unit}}
            </nz-col>
            <br><br>
        </nz-row>
    </div>
    <nz-divider nzPlain nzText="Logger" nzOrientation="left"></nz-divider>
    <div class="property-item">
        <app-logger></app-logger>
    </div>
</div>
